<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>Tienda Online | Sergio alonso</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<head th:include="./utils/head.html"></head>
	<link rel="stylesheet" th:href="@{/css/registrar.css}">
</head>
<body>
	<div th:include="./utils/header.html"></div>
	<div style="background-color:#eee;" id="contenedor"  class="page-wrapper p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title row" th:if="${producto.id>0}">Modificar Producto</h2>
                    <h2 class="title row" th:unless="${producto.id>0}">Nuevo Producto</h2>
                    <form th:action="@{/configuracion/new/submit}"  th:object="${configuracion}" method="post">
                    	<input type="hidden" name="id" th:if="${configuracion!=null}" th:value="${configuracion.id}">
                    	<input type="hidden" name="id" th:if="${configuracion!=null}" th:value="${configuracion.tipo}">
                    	<input type="hidden" name="id" th:if="${configuracion!=null}" th:value="${configuracion.clave}">
                        </div>
                        <div class="row row-space">
                        	<div class="col">
                                <div class="input-group">
                                    <label class="label">Descripción</label>
                                    <input class="input--style-4" type="text" name="descripcion"  th:if="${producto!=null}" th:value="${producto.descripcion}">
                                </div>
                            </div>
                        </div>
                        <div>
                            <button style="width:100%;" class="btn btn--radius-2 btn-outline-primary btn-lg" type="submit"  th:if="${producto!=null}" th:value="Modificar">Añadir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer th:include="./utils/footer.html"></footer>
</body>
</html>