<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Lista Pedidos</title>
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/css/list.css}" rel="stylesheet">
		
		<head th:include="./utils/head.html"></head>
	</head>
	<body>		
	<div th:include="./utils/header.html"></div>	
	
		<!-- TABLAAA -->
		
		<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
		<div class="container bootstrap snippets bootdey">
		    <div class="row">
		        <div class="col-lg-12">
		            <div class="no-header clearfix">
		                <div class="main-box-body clearfix">
		                    <div class="table-responsive">
		                     <button style="margin:2%;" class="btn btn-outline-secondary">Imprimir factura</button>
		                    <hr>
		                        <table class="table user-list table-striped">
		                            <thead>
		                                <tr>
		                                <th class="text-center"><span>Producto</span></th>
		                                <th class="text-center"><span>Precio</span></th>
		                                <th class="text-center"><span>Unidades</span></th>
		                                <th class="text-center"><span>Impuesto</span></th>
		                                <th class="text-center"><span>Total</span></th>
		                                <th>&nbsp;</th>
		                                </tr>
		                            </thead>
		                            <tbody class="text-center">
		                                <tr th:each="linea : ${detalles}">
		                                    <td class="text-center">
		                                        <span  th:each="producto : ${productos}"  th:if="${linea.idProducto == producto.id}" th:text="${producto.nombre}">Producto</span>
		                                    </td>
		                                    <td>
		                                        <a th:text="${linea.precioUnidad}">Precio Unidad</a>
		                                    </td>
		                                    <td>
		                                        <span th:text="${linea.unidades}">Unidades</span>
		                                     </td>
		                                    <td>
		                                        <a  th:text="${linea.impuesto}">Impuesto</a>
		                                    </td>
		                                    <td>
		                                        <a  th:text="${linea.total} + ' €'">Total</a>
		                                    </td>
		                                </tr>
		                            </tbody>
		                        </table>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<footer th:include="./utils/footer.html"></footer>
	</body>
</html>