<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Lista Pedidos</title>
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/css/list.css}" rel="stylesheet">
		
		<head th:include="./utils/head.html"></head>
	</head>
	<body>		
	<div th:include="./utils/header.html"></div>	
	
		<!-- TABLAAA -->
		
		<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
		<div class="container bootstrap snippets bootdey">
		    <div class="row">
		        <div class="col-lg-12">
		            <div class="no-header clearfix">
		                <div class="main-box-body clearfix">
		                    <div class="table-responsive">
		                   
		                    <hr>
		                        <table class="table user-list table-striped">
		                            <thead>
		                                <tr>
		                                <th class="text-center"><span>Fecha</span></th>
		                                <th class="text-center"><span>Metodo de pago</span></th>
		                                <th class="text-center"><span>Estado</span></th>
		                                <th class="text-center"><span>Numero de factura</span></th>
		                                <th class="text-center"><span>Total</span></th>
		                                <th>&nbsp;</th>
		                                </tr>
		                            </thead>
		                            <tbody class="text-center">
		                                <tr th:each="pedido : ${pedidos}">
		                                    <td class="text-center">
		                                        <span th:text="${pedido.fecha}">Fecha</span>
		                                    </td>
		                                    <td>
		                                        <a th:text="${pedido.metodoPago}">Metodo pago</a>
		                                    </td>
		                                    <td>
		                                        <span th:if="${pedido.estado == 'Pendiente'}"class="label-default"  th:text="${pedido.estado}">Estado</span>
		                                        <span th:if="${pedido.estado == 'Cancelado'}"class="label-cancel"  th:text="${pedido.estado}">Estado</span>
		                                        <span th:if="${pedido.estado == 'Enviado'}"class="label-success"  th:text="${pedido.estado}">Estado</span>
		                                        <span th:if="${pedido.estado == 'Pendiente Cancelar'}"class="label-pendientecancel"  th:text="${pedido.estado}">Estado</span>
		                                    </td>
		                                    <td>
		                                        <a  th:text="${pedido.numFactura}">NumFactura</a>
		                                    </td>
		                                    <td>
		                                        <a  th:text="${pedido.total} + ' €'">Total</a>
		                                    </td>
		                                    <td style="width: 10%;">
		                                    	<a th:href="@{/pedido/details/{id} (id=${pedido.id})}" class="table-link text-info">
		                                            <span>Ver</span>
		                                        </a>
		                                        <a th:if="${pedido.estado == 'Pendiente'}" th:href="@{/pedido/cancelclient/{id} (id=${pedido.id})}" class="table-link danger">
		                                            <span class="fa-stack">
		                                                <i class="fa fa-square fa-stack-2x"></i>
		                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
		                                            </span>
		                                        </a>
		                                    </td>
		                                </tr>
		                            </tbody>
		                        </table>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
		<footer th:include="./utils/footer.html"></footer>
	</body>
</html>