<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>Carrito | Tienda Sergio</title>
	<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Tienda Online | Sergio Alonso</title>
	
	    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/headers/">

    <!-- Bootstrap core CSS -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	
	    <style>
	      .bd-placeholder-img {
	        font-size: 1.125rem;
	        text-anchor: middle;
	        -webkit-user-select: none;
	        -moz-user-select: none;
	        user-select: none;
	      }
	
	      @media (min-width: 768px) {
	        .bd-placeholder-img-lg {
	          font-size: 3.5rem;
	        }
	      }
	    </style>
	    
	    <link th:href="@{/css/cart.css}" rel="stylesheet">
	    <head th:include="./utils/head.html"></head>
  </head>
</head>
<body>
	<div th:include="/utils/header.html"></div>

	<div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->
    <div class="card">
        <div class="card-header">
            <h2>Carrito</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered m-0">
                <thead>
                  <tr>
                    <!-- Set columns width -->
                    <th class="text-center py-3 px-4" style="min-width: 400px;">Nombre producto &amp; Descripcion</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Precio</th>
                    <th class="text-center py-3 px-4" style="width: 120px;">Cantidad</th>
                    <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
                    <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                  </tr>
                </thead>
                <tbody>
        
                  <tr th:each="producto : ${session.carrito}">
                    <td class="p-4">
                      <div class="media align-items-center">
                        <img th:src="@{/img/} + ${producto.imagen}" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                        <div class="media-body">
                          <a href="#" class="d-block text-dark" th:text="${producto.nombre}">Producto</a>
                          <small>
                            <span class="text-muted">Descripcion: </span> &nbsp;
                            <span class="text-muted" th:text="${producto.descripcion}"></span>
                          </small>
                        </div>
                      </div>
                    </td>
                    <td class="text-right font-weight-semibold align-middle p-4" th:text="${producto.precio} + ' €'">0€</td>
                    <td class="align-middle p-4"><input type="text" class="form-control text-center" value="1"></td>
                    <td class="text-right font-weight-semibold align-middle p-4" th:text="${producto.precio} + ' €'">0€</td>
                    <td class="text-center align-middle px-0"><a th:href="@{/carrito/del/{id}(id=${producto.id})}" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a></td>
                  </tr>
        
                </tbody>
              </table>
            </div>
            <!-- / Shopping cart table -->
            <form th:action="@{/carrito/order}" method="get">
            	<div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
	             <div class="mt-4">
	                <label class="text-muted font-weight-normal">Metodo de pago</label>
	                <select class="form-control" name="pago">
	                	<option th:each="metodo : ${metodoPago}" th:value="${metodo.metodoPago}" th:text="${metodo.metodoPago}">Metodo Pago</option>
	                </select>
	                <label class="text-muted font-weight-normal">Descuentos</label>
	                <select class="form-control" name="descuento">
	                	<option th:each="descuento : ${descuentos}" th:value="${descuento.id}" th:text="${descuento.codigo}">Metodo Pago</option>
	                </select>
	              </div>
	              <div class="mt-4">
	                <a th:href="@{/}"><button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3">Volver a la tienda</button></a>
	                <a><button type="submit" class="btn btn-lg btn-primary mt-2">Pagar</button></a>
	              </div>
	              <div class="d-flex">
	                <div class="text-right mt-4">
	                  <label class="text-muted font-weight-normal m-0">Total</label>
	                  <div class="text-large"><strong th:text="${total}">0€</strong></div>
	                </div>
	              </div>
	            </div>
            </form>
          </div>
      </div>
  </div>
  <footer th:include="/utils/footer.html"></footer>
</body>
</html>