<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>Tienda Online | Sergio Alonso</title>
	<head th:include="./utils/head.html"></head>
	<link th:href="@{/css/productDetails.css}" rel="stylesheet">
	
</head>
<body>
	
	<div th:include="./utils/header.html"></div>
	
	<div style="margin-top:3%;" class="container bootdey">
	<div class="col-md-12">
	<section class="panel">
      <div class="row">
          <div class="col-md-6">
              <div class="pro-img-details">
                  <img src="https://via.placeholder.com/550x380/FFB6C1/000000" alt="">
              </div>
          </div>
          <div class="col-md-6">
              <h4 class="pro-d-title">
                  <h2 style="color: #0f4c75;" class="title" th:text="${producto.nombre}">
                      Nombre
                  </h2>
              </h4>
              <p th:text="${producto.descripcion}">
                 Descripcion </p>
                 <div th:each="categoria : ${categorias}">
		                                    	<td th:if="${categoria.id == producto.idCategoria}" th:text="${categoria.nombre}">Rol</td>
		                                    </div>
              <div class="product_meta" >
                  <span class="posted_in"> <strong>Categories:</strong> <a th:each="categoria : ${categorias}" rel="tag" th:if="${categoria.id == producto.idCategoria}" th:text="${categoria.nombre}">Categoria</a>
                  </span>
              </div>
              <div class="m-bot15"> <strong>Precio : </strong> <span class="pro-price" th:text="${producto.precio + ' €'}"> 0.00€</span></div>
              <div class="form-group">
                  <label class="cantidad">Cantidad</label>
                  <input type="quantiy" placeholder="1" class="form-control quantity">
              </div>
              <p>
                  <button style="margin-top:3%;" class="btn btn-round btn-success" type="button"><i class="fa fa-shopping-cart"></i> Añadir al carrito</button>
              </p>
          </div>
      </div>
  </section>
  </div>
  </div>
	
	<footer th:include="./utils/footer.html"></footer>
</body>
</html>