<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Tienda Online | Sergio Alonso</title>    
    <!-- Custom styles for this template -->
    <link th:href="@{/css/footer.css}" rel="stylesheet">
</head>
<body>

	<footer th:fragment="footer" style="margin-top:3%;" class="deneb_footer">
		<div class="widget_wrapper" style="background-image: url(http://demo.tortoizthemes.com/deneb-html/deneb-ltr/assets/images/footer_bg.png);">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<div class="widget widegt_about">
							<div class="widget_title">
								<img src="assets/images/logo_1.png" class="img-fluid" alt="">
							</div>
							<p>Tienda Online de todo tipo de productos creada por Sergio Alonso de Caso, ofreciendo el mejor servicio.</p>
							<ul class="social">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="widget widget_link">
							<div class="widget_title">
								<h4>Links</h4>
							</div>
							<ul>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Portfolio</a></li>
								<li><a href="#">Blog</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="widget widget_contact">
							<div class="widget_title">
								<h4>Contact Us</h4>
							</div>
							<div class="contact_info">
								<div class="single_info">
									<div class="icon">
										<i class="fas fa-phone-alt"></i>
									</div>
									<div class="info">
										<p><a href="tel:+34689960179">689 - 960 - 179</a></p>
										<p><a href="tel:+34689960179">980 - 630 - 729</a></p>
									</div>
								</div>
								<div class="single_info">
									<div class="icon">
										<i class="fas fa-envelope"></i>
									</div>
									<div class="info">
										<p><a href="mailto:info@tiendasergio.com">info@@tiendasergio.com</a></p>
										<p><a href="mailto:services@tiendasergio.com">services@tiendasergio.com</a></p>
									</div>
								</div>
								<div class="single_info">
									<div class="icon">
										<i class="fas fa-map-marker-alt"></i>
									</div>
									<div class="info">
										<p>Calle Santa Clara 123<span>Zamora.</span></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright_area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="copyright_text">
							<p>Copyright &copy; 2021 All rights reserved. | Web Develop Sergio Alonso de Caso</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>