<!DOCTYPE html>
<html>
	 <head>
	    <meta charset="utf-8">
	    <title>Encabezado</title>
    <!-- Bootstrap core CSS -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	
	    <style>
	      .bd-placeholder-img {
	        font-size: 1.125rem;
	        text-anchor: middle;
	        -webkit-user-select: none;
	        -moz-user-select: none;
	        user-select: none;
	      }
	
	      @media (min-width: 768px) {
	        .bd-placeholder-img-lg {
	          font-size: 3.5rem;
	        }
	      }
	    </style>
    
    <!-- Custom styles for this template -->
    <link th:href="@{/css/header.css}" rel="stylesheet">
  </head>
	<body>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
		<div class="super_container">
		    <header class="header">
		        <!-- Top Bar -->
		        <div class="top_bar">
		            <div class="container">
		                <div class="row">
		                    <div class="col d-flex flex-row-reverse">
		                            <div th:if="${session.usuario == null}" class="top_bar_user">
		                                <div class="user_icon"><img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918647/user.svg" alt=""></div>
		                                <div><a th:href="@{/login/registrar}">Registrar</a></div>
		                                <div><a th:href="@{/login/acceso}"><button class="btn btn-outline-warning">Acceder</button></a></div>
		                            </div>
		                            <div th:unless="${session.usuario == null}" class="top_bar_user">
		                            	<div><a>Bienvenido, </a><a th:text=${session.usuario.nombre}>Bienvenido </a></div>
		                                <div><a th:href="@{/login/acceso}"><button class="btn btn-outline-warning">Cerrar sesion</button></a></div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            </header>
       	</div> <!-- Header Main -->
		        
		        <nav class="main_nav">
		            <div class="container">
		                <div class="row justify-content-md-center">
		                    <div class="col-auto text-center">
		                        <div class="main_nav_content d-flex flex-row">
		                            <!-- Categories Menu -->
		                            <!-- Main Nav Menu -->
		                            <div class="main_nav_menu">
		                                <ul class="standard_dropdown main_nav_dropdown">
		                                    <li><a th:href="@{/producto/listar}">Productos<i class="fas fa-chevron-down"></i></a></li>
		                                    <li><a th:href="@{/usuario/listar}">Usuarios<i class="fas fa-chevron-down"></i></a></li>
		                                    <li><a th:href="@{/rol/listar}">Roles<i class="fas fa-chevron-down"></i></a></li>
		                                    <li><a th:href="@{/categoria/listar}">Categorias<i class="fas fa-chevron-down"></i></a></li>
	                                    </ul>
		                            <div class="menu_trigger_container ml-auto">
		                                <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
		                                    <div class="menu_burger">
		                                        <div class="menu_trigger_text">menu</div>
		                                        <div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
	            </div>
	        </nav>
		<script th:src="@{/js/header.js}"></script>
	</body>
</html>