<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Tienda Online | Sergio Alonso</title>
	
	    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/headers/">

    <!-- Bootstrap core CSS -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	
	    <style>
	      .bd-placeholder-img {
	        font-size: 1.125rem;
	        text-anchor: middle;
	        -webkit-user-select: none;
	        -moz-user-select: none;
	        user-select: none;
	      }
	
	      @media (min-width: 768px) {
	        .bd-placeholder-img-lg {
	          font-size: 3.5rem;
	        }
	      }
	    </style>
	    
	    <link th:href="@{/css/header.css}" rel="stylesheet">
	    <head th:include="./utils/head.html"></head>
  </head>
<body>
		
<div th:include="/utils/header.html"></div>

<!-- CARTAS DE PRODUCTOS -->
	<div class="container" style="margin-top:5%">
		 	<div class="row">
		 	
		        <div class="col-lg-3 col-md-6 mb-4" th:each="producto : ${productos}">
		            <div class="card h-100">
		                <a href="#"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
		                <div class="card-body">
		                    <h4 class="card-title"><a th:text="${producto.nombre}">Nombre></a></h4>
		                    <h5 th:text="${producto.precio} + ' €'">Precio €</h5>
		                    <p class="card-text" th:text="${producto.descripcion}">Descripcion></p>
		                </div>
		                <div class="card-footer d-flex align-items-right ">
		                	<small class="col align-self-center text-muted" th:text="'Stock: ' + ${producto.stock}"> Stock: </small>
		                	<button class="col btn btn-outline-primary">Añadir al carrito</button>
		                </div>
		            </div>
		        </div>
			</div>
		</div>
	<footer th:include="/utils/footer.html"></footer>
</body>
</html>