<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Tienda Online | Sergio Alonso</title>
	    
	
	    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/headers/">
		
    <!-- Bootstrap core CSS -->
	
	    <style>
	      .bd-placeholder-img {
	        font-size: 1.125rem;
	        text-anchor: middle;
	        -webkit-user-select: none;
	        -moz-user-select: none;
	        user-select: none;
	      }
	
	      @media (min-width: 768px) {
	        .bd-placeholder-img-lg {
	          font-size: 3.5rem;
	        }
	      }
	    </style>
	    
	    <head th:include="./utils/head.html"></head>
	    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  </head>
<body>
		
<div th:include="/utils/header.html"></div>

<!-- CARTAS DE PRODUCTOS -->
	<div class="container" style="margin-top:5%">
	
		<!-- -------------------SLIDER PRECIO----------------- -->
		<form style="margin-bottom:3%;" th:action="@{/producto/prince}" method="get">
	        <label class="label" for="price-min">Precio máximo</label>
	      <div data-role="rangeslider">
	        <input type="range" name="precio" id="precio" value="0" min="0" max="1000">
	        <span name="precio" id="valorPrecio">0</span>
	      </div>
	      <input type="submit" data-inline="true" class="btn btn-outline-primary" value="Filtrar">
        </form>
	
		 	<div class="row">
		        <div class="col-lg-3 col-md-6 mb-4" th:each="producto : ${productos}">
		            <div class="card h-100">
		                <a th:href="@{/producto/details/{id} (id=${producto.id})}"><img class="card-img-top" th:src="@{/img/} + ${producto.imagen}" alt="..." /></a>
		                <div class="card-body">
		                    <h4 class="card-title"><a th:text="${producto.nombre}">Nombre></a></h4>
		                    <h5 th:text="${producto.precio} + ' €'">Precio €</h5>
		                    <p class="card-text" th:text="${producto.descripcion}">Descripcion></p>
		                </div>
		                <div class="card-footer d-flex align-items-right ">
		                	<small class="col align-self-center text-muted" th:text="'Stock: ' + ${producto.stock}"> Stock: </small>
		                	<a th:href="@{/carrito/add/{id} (id=${producto.id})}"><button class="col btn btn-outline-primary" >Añadir al carrito</button></a>
		                </div>
		            </div>
		        </div>
			</div>
		</div>
	<footer th:include="/utils/footer.html"></footer>
	<script>
	  addEventListener('load',inicio,false);
	
	  function inicio()
	  {
	    document.getElementById('precio').addEventListener('change',cambioPrecio,false);
	  }
	
	  function cambioPrecio()
	  {    
	    document.getElementById('valorPrecio').innerHTML=document.getElementById('precio').value;
	  }
	</script>
</body>
</html>