<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Registrar | Tienda</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
    <link rel="stylesheet" th:href="@{/css/registrar.css}">
</head>
<body>
	<div id="contenedor"  class="page-wrapper p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title row">Registrar</h2>
                    <form th:action="@{/login/registrar/validar}"  th:object="${Usuario}" method="post">
                        <div class="row row-space">
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Nombre</label>
                                    <input class="input--style-4" type="text" name="nombre" required="">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Primer Apellido</label>
                                    <input class="input--style-4" type="text" name="apellido1">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <label class="label">Segundo Apellido</label>
                                    <input class="input--style-4" type="text" name="apellido2">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-4">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4" type="email" name="email" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="input-group">
                                    <label class="label">Clave</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4" type="password" name="clave" required="">
                                    </div>
                                </div>
                           </div>
                           <div class="col-4">
                                <div class="input-group">
                                    <label class="label">Dirección</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4" type="text" name="direccion" required="">
                                    </div>
                                    </div>
                           </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Localidad</label>
                                    <input class="input--style-4" type="text" name="localidad">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Provincia</label>
		                                <select class="input--style-4" id="select" name="provincia" required>
                                    		<option th:each="provincia : ${provincias}" th:value="${provincia}" th:text="${provincia}">aa</option>
                                    	</select>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Telefono</label>
                                    <input class="input--style-4" type="text" name="telefono">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">DNI</label>
                                    <input class="input--style-4" type="text" name="dni">
                                </div>
                            </div>
                        </div>
                        <div>
                            <button style="width:100%;" class="btn btn--radius-2 btn--blue btn-lg" type="submit">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>